default:
  tags: [werf-2] 

stages:
  - build
  - build-sonar
  - publish
  
variables:
  NUGET_SERVER: "https://nuget.pit.protei.ru/nuget"
  DOTNET_VERSION: "8.0.x"
  SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar" 
  GIT_DEPTH: "0"  

build:
  stage: build
  image: mcr.microsoft.com/dotnet/sdk:$DOTNET_VERSION
  script:
    - dotnet restore
    - dotnet build --configuration Release --no-restore
    - dotnet pack --configuration Release --no-build --output nupkgs
  artifacts:
    paths:
      - nupkgs/*.nupkg
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never  # Запрещаем выполнение для merge request
    - if: '$CI_COMMIT_BRANCH == "main"'  # Разрешаем только для ветки main после мержа

build-sonar:
  stage: build-sonar
  
  cache:
    policy: pull-push
    key: "sonar-cache-$CI_COMMIT_REF_SLUG"
    paths:
      - "${SONAR_USER_HOME}/cache"
      - sonar-scanner/
      
  script: 
      - "export PATH=\"$PATH:$HOME/.dotnet/tools\""
      - "dotnet sonarscanner begin /k:\"libraries_pit-infrastructure_833cfe74-de76-4637-afa6-2925b455bd16\" /d:sonar.token=\"$SONAR_TOKEN\" /d:\"sonar.host.url=$SONAR_HOST_URL\" "
      - "dotnet build"
      - "dotnet sonarscanner end /d:sonar.token=\"$SONAR_TOKEN\""
  allow_failure: true
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH == 'main'
    - if: $CI_COMMIT_BRANCH == 'develop'  


publish:
  stage: publish
  image: mcr.microsoft.com/dotnet/sdk:$DOTNET_VERSION
  script:
    - dotnet nuget push "nupkgs/*.nupkg" --source $NUGET_SERVER --api-key $NUGET_API_KEY --skip-duplicate
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never  # Запрещаем выполнение для merge request
    - if: '$CI_COMMIT_BRANCH == "main"'  # Разрешаем только для ветки main после мержа